.scene {
	height: 1000px;
	perspective: none;
}

.cube, .platter {
	position: relative;
	transform-style: preserve-3d;
}


.cube {
	width: 500px;
	height: 100px;
}

.containter {
	position: relative;
	transform-style: preserve-3d;
}

.cube__face {
	opacity: .5;
	position: absolute;
	width: 500px;
	height: 100px;
}

.cube__face--front,
.cube__face--right,
.cube__face--back,
.cube__face--left,
.cube__face--top,
.cube__face--bottom
{
	background-color: red; 
	border: 1px solid black;
}

.cube__face--right,
.cube__face--left {
	height: 100px;
	width: 500px;
}

.cube__face--front,
.cube__face--back {
	height: 100px;
	width: 600px;
}

.cube__face--top,
.cube__face--bottom {
	height: 500px;
	width: 600px;
}


.cube__face--front  { transform: rotateY(0deg)   translateZ(250px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(350px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(250px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(250px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(250px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(-150px); }


.cube {
	transform: translate3d(250px, 250px, 0px) rotateX(-25deg) rotateY(25deg) rotateZ(0deg);
}

.platter, .disc {
	width: 400px;
	height: 400px;
} 

.platter {
	transform: rotateX(90deg) translateZ(-200px) translateX(30px);
}


.disc { 
	background-color: black;
	border-radius: 50% 50%;
	color: white;
	text-align: center;
}
